html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h2 {
  border-bottom: solid;
  text-align: center;
}

div.create {
  width: 1000px;
  height: 700px;
  background-color: white;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: solid 10px;
  position: absolute;
  top: 30px; left: 15%;
  text-align: center;
  }

div.input {
  text-align: center;

}

text.description1 {
 display: inline-block;
}

text.description2 {
  display: inline-block;
}

div.title {
  float: center;
}
div.description {
 display: inline-block;
}

div.options-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
}

div.email-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
}


input {
  display: left;
}

div.emails {
  display: left;
}

body {
  color: black;
  background-color: #6495ED;
  font-family: 'Roboto Mono', monospace;
}

button.create {
  font-family: 'Roboto Mono', monospace;
  border: solid 2px;
  width: 100px;
  height: 50px;
  font-size: 110%;
  position: absolute;
  bottom: 5px; left: 46%;
}