html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  text-align: center;

}
h3 {
  position: absolute;
  left: 25%;
}

div {
  background-color: white;
  padding-top: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  border: solid 10px;
  position: absolute;
  top: 200px; left: 20%;
  }


  div:hover {
     box-shadow: 5px 10px 100px #ffffff;
  }

body {
  color: black;
  background-color: #6495ED;
  font-family: 'Roboto Mono', monospace;
}

button {
  font-family: 'Roboto Mono', monospace;
  border: solid 2px;
  width: 80px;
  height: 30px;
  position: relative;
  right: -425px; top: 15px;
  font-size: 110%;
}