<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>delphi - admin</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/admin_homepage.css" type="text/css"/>

  </head>
</html>
<body class="admin-homepage">
  <section class="admin-elements">
    <h2>Admin's Homepage</h2>
    <div class="admin">
    <ul class="admin-polls">


    </ul>

    <ul class="old-polls">



    </ul>
    <form action="/logout" method="POST">
      <button class="logout">LOGOUT</button>
    </form>
    <form action="/create_poll" method="GET">
      <button class="create_poll">CREATE POLL</button>
    </form>
    <form action="/results" method="GET">
    <button class="results">RESULTS</button>
    </form>
    </div>
  </section>
</body>
