<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/create_poll.css" media="screen" />
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <title>delphi - create poll</title>
  </head>

  <body>

    <div class="create">
      <h2>Make a Poll! </h2>

      <form action="/create_poll" method="POST">
        <div class="input">
          <text class="description1"> Fill in the title, description and options for your poll.</text>
          <text class="description2"> Fill in the email section to email the poll to your friends!</text>
        </div>

        <div class="title">
          <h3>Title</h3>
          <textarea name="title" placeholder="title"></textarea>
        </div>

        <div class="description">
          <h3>Description</h3>
          <textarea name="description" placeholder="description"></textarea>
        </div>

        <div class="options">
          <h3>Options</h3>
          <div class="options-table">
            <table>
              <tr>
                    <input name="option[]"type="text" style="width:150px"/>
              </tr>
              <tr>
                    <input name="option[]"type="text" style="width:150px"/>
              </tr>
              <tr>
                    <input name="option[]"type="text" style="width:150px"/>
              </tr>
              <tr>
                    <input name="option[]"type="text" style="width:150px"/>
              </tr>
              <tr>
                    <input name="option[]"type="text" style="width:150px"/>
              </tr>
            </table>
          </div>
        </div>

        <div class="emails">
          <h3>Emails</h3>
          <div class="email-table">
            <table>
                <tr>
                    <input name="email1" type="text" style="width:150px"/>
                </tr>
                <tr>
                    <input name="email2"type="text" style="width:150px"/>
                </tr>
                <tr>
                    <input name="email3"type="text" style="width:150px"/>
                </tr>
                <tr>
                    <input name="email4"type="text" style="width:150px"/>
                </tr>
                <tr>
                    <input name="email5"type="text" style="width:150px"/>
                </tr>
            </table>
          </div>
        </div>

        <button class="create"> CREATE </button>
      </form>
    </div>
  </body>
</html>
