<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/create_poll.css" media="screen" />
    <title>delphi - create poll</title>
  </head>

  <body>

    <div class="create">
      <h2>Make a Poll! </h2>


        <div class="input">
          <text class="description1"> Fill in the title, description and options for your poll.</text>
          <text class="description2"> Fill in the email section to email the poll to your friends!</text>
        </div>

        <div class="title">
          <h3>Title</h3>
          <textarea name="title" placeholder="title"></textarea>
        </div>

        <div class="description">
          <h3>Description</h3>
          <textarea name="description" placeholder="description"></textarea>
        </div>

        <div class="options">
          <h3>Options</h3>
          <div class="options-table">

              <input name="option[]" id="option" type="text" style="width:250px"/>

              <button id="send_options">Add Option</button> <br>
              <section class="options">

              </section>

          </div>
        </div>

        <div class="emails">
          <h3>Emails</h3>
          <div class="email-table">
            <table>
                <tr>
                    <input name="email1" type="text" style="width:150px"/>
                </tr>
                <tr>
                    <input name="email2"type="text" style="width:150px"/>
                </tr>
                <tr>
                    <input name="email3"type="text" style="width:150px"/>
                </tr>
                <tr>
                    <input name="email4"type="text" style="width:150px"/>
                </tr>
                <tr>
                    <input name="email5"type="text" style="width:150px"/>
                </tr>
            </table>
          </div>
        </div>

      <form action="/create_poll" method="POST">
        <button class="create"> CREATE </button>
      </form>
    </div>
  </body>

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- Create Poll js -->
  <script type="text/javascript" src="/scripts/create_poll.js"></script>
</html>
