<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/results.css" media="screen" />
    <title>delphi - results</title>
  </head>
  <body>

    <div class="main">
    <h2 class="title">Polls: </h2>

    <ul id="vote_sort">

        <% for (let i in results) { %>
          <li class="ranked_item"> <a href="http://localhost:8080/result/<%=results[i].id%>">Poll-<%=results[i].id%> - <%=results[i].question%></a> </li>
        <% }%>
      </ul>

    <form action="/admin" method="GET">
      <button class="admin"> back to admin page</button>
    </form>
  </div>
  </body>
</html>
