<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/results.css" media="screen" />
    <title>delphi - results</title>
  </head>
  <body>

    <div class="main">
    <h2 class="title">Results </h2>
    <h3>Let's watch a movie?</h3>
    <h3>To celebrate the life!!</h3>
    <h3>Today</h3>
    <h1>Labamba</h1>
    <form action="/admin" method="GET">
      <button class="admin"> back to admin page</button>
    </form>
  </div>
  </body>
</html>
