<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/vote.css" type="text/css" />

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $(function() {
        $('#vote_sort').sortable();
        $('#vote_sort').disableSelection();

        $("#vote_submit").on("click", function(event) {
          // let vote = [];
          // const voteJQ = $("#vote_sort").children();
          // console.log("vote: ", voteJQ.attr("data-id"));
          // for (let k in voteJQ){

          //   console.log(voteJQ[k].attr("data-id"));
          //   // let object = {};
          // //   object = {
          // //     key: voteJQ.i,
          // //     value: voteJQ.
          //   }
          //   console.log("object: ", object);
          //   vote.push(object);
          // }
          let vote = Array.from($("#vote_sort").children().map((i, item) => {
            console.log($(item).attr("data-id"));
            console.log("i: ", i);
            let object = {};
            object = {
              key: i,
              value: $(item).attr("data-id")
            }
            console.log("object: ", object);
            // return $(item).attr("data-id");
            return object;
            // vote.push(object);
          }));
          console.log("vote: ", vote);

          // $.ajax({
          //   method: "POST",
          //   url: "/vote",
          //   data: vote
          // })
        })

      });
    </script>
  </head>
  <body>
    <section class="vote_container">
      <form action="/vote" method="POST">
        <div class="poll_title">
          <h1><%= dataToVote.question %></h1>
          <h2><%= dataToVote.description %></h2>
          <p>
            This is my poll, please click and drag to rearrange in your preference order (high to low).
          </p>
        </div>
        <ul id="vote_sort">
          <% for (let i in dataToVote.options) { %>
            <li class="ranked_item" data-id="<%=dataToVote.options[i].id%>" > <%= dataToVote.options[i].label %> </li>
          <% }%>
        </ul>
        <button id="vote_submit">VOTE!</button>
      </form>
    </section>
  </body>
</html>
