<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Welcome to Delphi</title>
    <link
      rel="stylesheet"
      href="file:///Users/samanthanock/lighthouse/decision-maker/public/html_static/welcome.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="file:///Users/samanthanock/lighthouse/decision-maker/vendor/normalize-411.css/"
      type="text/css"
    />
  </head>

  <body>
    <!--Main Container-->
    <section class="main_container">
      <div class="welcome_message">
        <img
          src="file:///Users/samanthanock/lighthouse/decision-maker/imgs/giphy.gif"
        />
        <p class="welcome_message">
          <b><u>Welcome to Delphi</u></b> <br />
          Abyssinian . Siamese munchkinbobcat and thai. Tomcat.Siberian. Tabby.
          Sphynxragdoll for bobcat, orabyssinian ragdoll for mainecoon yet
          kitten. Donskoy manxmalkin, cheetah. Americanbobtail lynx for
          savannahsphynx singapura. Himalayan.

          <form action="/login" method='GET'>
            <button class="login">IT'S A LOGIN</button>
          </form>

          <form action="/register">
            <button class="register">IT'S A REGISTER</button>
          </form>

        </p>
      </div>
    </section>
  </body>
</html>
