<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>delphi - welcome</title>
    <link
      rel="stylesheet"
      href="/styles/welcome.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="vendor/normalize-411.css/"
      type="text/css"
    />
  </head>

  <body>
    <!--Main Container-->
    <section class="main_container">
      <div class="welcome_message">


          <h2>Welcome to Delphi</h2>

          <form action="/login" method="GET">
            <button class="login">LOGIN</button>
          </form>
          <form action="/register" method=GET">
            <button class="register">REGISTER</button>
          </form>
          <img src="https://www.ancient-origins.net/sites/default/files/field/image/oracle-delphi.jpg">
      </div>
    </section>
  </body>
</html>
