body {
  display: flex;
  justify-content: center;
  background-color: cornflowerblue;
  font-family: 'Roboto Mono', monospace;
}
.vote_container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid black;
  width: 50%;
  height: auto;

}
.vote_container:hover {
    box-shadow: 5px 10px 100px #ffffff;
}
#vote_sort {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 60%;
  font-size: 3em;
  background-color: white;
  position: relative;
  left: 10%;
}
.poll_title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
}

p{
  margin-left: 1.5em;
}
.vote_submit {
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  margin-top: 3em;
  margin-bottom: 3em;
  width: 10em;
  height: 4em;
  border: 3px solid black;
  position: relative;
  left: 35%;
}
.ranked_item {
  margin-top: 0.5em;
}
.ranked_item:hover {
  color: cornflowerblue;
  font-style: italic;
}
.post_vote {
  font-size: 6em;
}

button#vote_submit {
    font-family: 'Roboto Mono', monospace;
    margin-top: 20px;
    border: solid 2px;
    width: 100px;
    height: 50px;
    font-size: 110%;
    position: absolute;
    bottom: 0px; left: 63%;

}
