html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h2{
  border-bottom: solid;
  text-align: center;
  margin-bottom: 50px;
}

body {
  color: black;
  background-color: #6495ED;
  font-family: 'Roboto Mono', monospace;
}

div.welcome_message {
  width: auto;
  height: 550px;
  background-color: white;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: solid 10px;
  position: absolute;
  top: 30px; left: 10%;
  text-align: center;


  }

  div.welcome_message:hover {
     box-shadow: 5px 10px 100px #ffffff;
  }

  button.login {
  font-family: 'Roboto Mono', monospace;
  border: solid 2px;
  width: 230px;
  height: 40px;
  font-size: 110%;
  margin-bottom: 20px;
  position: relative;
  top: 160px; left: -28%;
}

button.register{
  font-family: 'Roboto Mono', monospace;
  border: solid 2px;
  width: 230px;
  height: 40px;
  font-size: 110%;
  margin-bottom: 20px;
  position: relative;
  top: 160px; left: -28%;
}

img {
  margin-top: 10px;
  height: 340px;
  width: 450px;
  margin-left: 300px;
  position: relative;
  top: -100px; left: 0%;

}
